<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Adding Roboto and Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap"
          rel="stylesheet">
    <!--Add web.css to this HTML file.-->
    <link rel="stylesheet" href="/static/web.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Add title to this HTML file.-->
    <title>YouTube Transcript Summarizer</title>

    <link href="/static/favicon.png" rel="icon">

    <meta name="robots" content="index,follow"/>

    <meta property='og:title' content="YouTube Summarizer Web "/>
    <meta property='og:image' content='/static/image_cover.png'/>
    <meta property='og:description'
          content="Online Tool to summarize transcript of an eligible YouTube Video. The video should have well formatted closed-captions to perform summarization by various techniques."/>
    <meta property='og:url' content='https://ytsum.herokuapp.com/web/'/>
</head>
<body>
<!--YouTube Logo Fetching From Online-->
<body data-bs-spy="scroll" data-bs-target="#navbarExample">
    
    <div class="container">    
    <header id="header" class="header">
    <div class="container ">
    <div class="row">
    <div class="col-lg-6 col-xl-5">
    <div class="text-container">
    <div class="section-title">YouTube Transcript Summarizer</div>
    <h1 class="h1-large">Type Youtube Video Link Below</h1>
    <form action="/" class="form" method="POST"> <input type="hidden" name="csrfmiddlewaretoken" value="S0CKt4tvmDB15COttNM21kmKz4Wrk0YuPkohVPw0VyUHJmbEzEVCqg6Akb55aXvS">
    <div class="form-group">
    <input class="form-control form-control-lg" type="text" name="video_url" placeholder="enter YouTube video URL here" value="">
    </div>
    <div class="form-group">
    <label for="range_size" style="color:black;">Choose Percentage of Summarize Text
    </label>
    <input type="range" class="form-control-range form-control-lg" style="width: 100%" id="range_size" min="10" max="90" name="percent">
    <p style="color: black;width: 100%">
    <span class="float-start">Small</span>
    <span class="float-end">Large</span>
    </p>
    <p style="color:black; text-align: center">
    Size:
    <span id="value_size">51%</span></p>
    </div>
    <div class="form-group" style="text-align: center">
    <button class="btn-solid-lg" type="submit">Get Summarize Text</button>
    </div>
    </form>
    </div> 
    </div> 
    <div class="col-lg-6 col-xl-7 ">
    <div class="image-container">
    <div class="section-title  text-light bg-primary float-end " style="text-align: justify;">Summarized Text version:</div>
    <textarea class="input100 " name="message" placeholder="Your summary goes here"> </textarea>
    </div> 
    </div> 
    </div> 
    </div> 
    </header> 
    <script>
        var slider = document.getElementById("range_size")
        var output = document.getElementById("value_size")
    
        output.innerHTML = slider.value  + "%";
        slider.oninput = function() {
        output.innerHTML = this.value + "%" ;
    
    }
     </script>
    
</body>
</html>

